[Unit]
Description=Shine Monitoring and High Availability for Lustre
After=network-online.target systemd-user-sessions.service
Wants=network-online.target

[Service]
EnvironmentFile=-/etc/default/shine
EnvironmentFile=-/etc/sysconfig/shine
ExecStart=/usr/bin/python3 -m Shine.HA.main -f /etc/shine/ha.yaml --debug --run $OPTS
Restart=on-failure
RestartSec=60

[Install]
WantedBy=multi-user.target
